html {
  height: 100%;
}
body {
  font-family: Roboto, Arial, sans-serif;
  background: #Fff;
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  padding-bottom: 80px;
}
body.home-page {
  background: url(/assets/images/move-up-story-background.png);
  background-size: cover;
}
body * {
  font-weight: 100;
  color: #7a8288;
}
body .container h1 {
  font-size: 36px;
  font-weight: 700;
  color: #444;
  text-align: center;
  margin-top: 70px;
}
body .container h2 {
  font-size: 24px;
  font-weight: 700;
  color: #444444;
}
body p.lead {
  font-weight: 100;
  font-size: 24px;
  color: #666;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}
body section {
  background: #ffffff;
}
section.header {
  background: #fff;
}
section.header .logo-moveup-today {
  font-weight: 700;
  color: #444;
  font-size: 30px;
  margin-top: 5px;
}
section.header .logo-moveup-today .dot {
  color: #00b9f2;
  font-size: 36px;
  font-weight: 900;
}
section.header .top-navigation {
  margin-top: 17px;
  margin-right: 25px;
}
section.header .top-navigation li {
  padding: 2px 15px;
}
section.header .top-navigation .btn-main {
  border: 1px solid #d2e0ea;
  border-radius: 4px;
  margin-left: 10px;
}
section.header .vnw-logo {
  margin: 10px 0;
}
section.jumbotron {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
section.jumbotron h1 {
  font-size: 36px;
  color: #fff;
  padding: 20px 35px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 70px;
  display: inline-block;
}
section.jumbotron .video {
  margin-top: 50px;
  text-align: center;
}
section.jumbotron .video iframe {
  border: 6px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
section.jumbotron p.lead {
  color: #fff;
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 0;
}
section.jumbotron .btn-primary {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
}
section.jumbotron .share {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 60px;
}
section.jumbotron .share span,
section.jumbotron .share em {
  color: #fff;
  vertical-align: middle;
}
section.jumbotron .share em {
  font-size: 16px;
}
section.jumbotron .share a,
section.jumbotron .share img {
  outline: none;
}
section.footer {
  background: #f7f7f7;
  border-bottom: 5px solid #0581c0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
section.footer .logo-vnw-gray,
section.footer .logo-techlooper-gray {
  padding: 10px 20px;
  border-right: 1px solid #c2cfd8;
  height: 75px;
}
section.footer .logo-techlooper-gray img {
  margin-top: 5px;
}
section.footer .copyright {
  margin-top: 18px;
  margin-left: 10px;
}
section.footer .copyright .lead {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}
@media (min-width: 992px) and (max-width: 1199px) {
  section.jumbotron p.lead {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section.jumbotron h1 {
    font-size: 32px;
  }
  section.jumbotron p.lead {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  body {
    padding-bottom: 114px;
  }
  section.header .logo-moveup-today {
    font-size: 20px;
    margin-top: 0;
  }
  section.jumbotron h1 {
    font-size: 22px;
    margin-top: 44px;
  }
  section.jumbotron .video {
    margin-top: 24px;
  }
  section.jumbotron .video iframe {
    width: 100%;
    max-width: 550px;
  }
  section.jumbotron p.lead {
    font-size: 16px;
    margin-top: 14px;
  }
  section.jumbotron button {
    margin-top: 20px;
  }
  section.jumbotron .share {
    margin-bottom: 40px;
  }
  section.footer .logo-vnw-gray,
  section.footer .logo-techlooper-gray {
    width: 50%;
    border-right: none;
    text-align: center;
    height: auto;
  }
  section.footer .logo-vnw-gray img,
  section.footer .logo-techlooper-gray img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
  section.footer .copyright {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  section.header ul.top-navigation {
    display: none;
  }
  .video iframe {
    width: 100%;
    height: 270px;
  }
}
@media (max-width: 360px) {
  body {
    padding-bottom: 105px;
  }
  section.jumbotron .video iframe {
    width: 100%;
    height: 202px;
  }
  section.jumbotron p.lead {
    font-size: 15px;
  }
  section.jumbotron .btn-primary {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  body {
    padding-bottom: 99px;
  }
  section.jumbotron h1 {
    font-size: 20px;
  }
  section.jumbotron .video iframe {
    width: 100%;
    height: 180px;
  }
  section.jumbotron .btn-primary {
    font-size: 18px;
  }
  section.jumbotron .share em {
    font-size: 14px;
  }
}
.job-list .box {
  border: none;
}
.job-list table {
  border: none;
}
.job-list .orange strong {
  font-weight: bold;
  color: #f7941d;
}
.job-list .matching-score {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.job-list .matching-score img {
  width: 98px;
  height: 11px;
}
.job-list .job-post:hover .matching-score {
  opacity: 1;
  filter: alpha(opacity=100);
}
.job-list .score {
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
.job-list .load-more-job {
  margin-bottom: 15px;
}
.job-list .load-more-job img {
  -webkit-transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
}
.job-list .load-more-job img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: rotate(90deg);
}
.job-list .load-more-job img:active {
  transform: rotate(270deg);
}
