<template name="signinLayout">
	<section class="log-in push-top-lg">
		<div id="vnw-log-in" class="container">
			<div class="login-wrapper row">
				<div class="login-intro col-md-8">
					<h2>Đăng nhập để xem chi tiết...</h2>
					<ul>
						<li><strong>Truy cập hàng ngàn công việc</strong><span>Xem trên 3.000 việc mới hàng tháng và nộp hồ sơ trực tuyến ngay!</span></li>
						<li><strong>Việc tìm bạn</strong><span>Tạo Thông Báo Việc Làm để nhận được nhiều việc mới phù hợp bằng email.</span></li>
						<li><strong>Tư vấn nghề nghiệp</strong><span>Trang Quản lý Nghề Nghiệp sẽ giúp bạn viết hồ sơ xin việc và phỏng vấn thành công.</span></li>
					</ul>
				</div>
				<div class="login-box col-md-4">
					<div class="login-box-border">
						<h3>Người Tìm Việc</h3>
						<form method="post" class="form">
							<fieldset>
								<input type="text" tabindex="1" placeholder="Email Address" required="required"
									   name="username" id="form_username">
								<input type="password" tabindex="2" placeholder="Password" required="required"
									   name="password" id="form_password">
								<button class="btn btn-primary btn-sm" tabindex="3" type="submit">Đăng Nhập</button>
                                <a href="http://www.vietnamworks.com/forget-password" target="_blank">Quên mật khẩu ?</a>
                                {{> errors}}
							</fieldset>
						</form>
						<div class="line-break"></div>
						<p>Chưa có tài khoản ?</p>
                        {{> social}}
					</div>
				</div>
			</div>
		</div>
	</section>
</template>