<template name="browse">
    <section class="browse">
        <div class="container relative">
            <div class="bg-layer bg-layer-1 ">
                <div class="layer-left"></div>
                <div class="layer-right"></div>
            </div>
            <div class="bg-layer bg-layer-2">
                <div class="layer-left"></div>
                <div class="layer-right"></div>
            </div>
        </div>
        <div class="container content-layer">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Xem tất cả câu chuyện Move Up</h1>
                    <p class="lead">Đọc để truyền cảm hứng cho con đường phát triển nghề nghiệp của bạn.
                    </p>
                </div>
            </div>
            <div class="row">
                {{> storyItem}}
            </div>
        </div>
    </section>
</template>