<template name="howTo">
    <section class="how-to">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Cách thức chia sẻ câu chuyện Move Up của bạn</h1>
                    <p class="lead">It’s as easy as 1 2 3</p>
                </div>
            </div>
            <div class="row three-steps">
                <div class="col-sm-4">
                    <img src="/assets/images/icon-create.png" alt=""/>
                    <h2>1. Viết câu chuyện</h2>
                    <p>Viết câu chuyện Move Up đầy cảm hứng của bạn.</p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/images/icon-upload.png" alt=""/>
                    <h2>2. Gửi câu chuyện</h2>
                    <p>Dùng tài khoản Facebook, đăng nhập và gửi bài cho chúng tôi.</p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/images/icon-share.png" alt=""/>
                    <h2>3. Chia sẻ!</h2>
                    <p>Xong! Câu chuyện của bạn <br/> sẽ được chia sẻ.
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>