<template name="jumbotron">
    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Gửi lời cảm ơn Move Up ngay hôm nay</h1>
                    <p class="lead">VietnamWorks đã giúp hàng triệu chuyên gia Move Up.<br/>
                        Đây là cơ hội để bạn chia sẻ câu chuyện Move Up của chính mình,<br/> cũng như tri ân những người đã giúp bạn.
                    </p>
                    <button class="btn btn-primary">
                        Chia sẻ câu chuyện Move Up của bạn
                    </button>
                    <div class="share">
                        <span>Chia sẻ:</span>
                        <span class="circle"><span class="fa fa-facebook"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>