<template name="notFound">
    <section class="job-list bg-gray" id="vnw-job-search">
        <div class="container">
            <div class="box push-top-lg" style="text-align: center">
                <a href="/"><img src="/assets/images/design-404-error-page-331.png" alt="Fuelly Logo" border="0"></a>
                <h1>Không tìm thấy đường dẫn này !</h1>
                <h3>Bạn có thể kiểm tra lại đường dẫn hoặc truy cập vào <a href="{{pathFor 'homeLayout'}}">trang chủ</a>.</h3>
            </div>
        </div>
    </section>
</template>