<section class="job-list bg-gray" id="vnw-job-search">
    <div class="container">
        <!-- Jobs -->
        <div class="box push-top-lg">
            <table class="table table-hover link-list table-expanded ">
                <!-- Job -->
                <tr class="job-post">
                    <td>
                        <div class="row relative">
                            <!-- Logo  -->
                            <div class="col-sm-3 col-sm-push-9 text-center">
										<span class="hidden-xs">
											<span class="push-top-xxs orange bold-700"><strong>$300 -
                                                $400</strong></span>
										</span>

                                <div class="company-name text-gray hidden-xs"
                                     data-original-title="Công Ty TNHH Dịch Vụ So Sánh Việt"
                                     title="Công Ty TNHH Dịch Vụ So Sánh Việt" style="word-wrap: break-word;">
                                    <a href="http://www.vietnamworks.com/senior-software-engineer-25-1-559839-jd"
                                       target="_blank">
                                        Công Ty TNHH Dịch Vụ So Sánh Việt
                                    </a>
                                </div>
                                <!--Matching Score -->
                                <div class="matching-score">
                                    <img class="matching-score-logo" src="/assets/images/matching-score-logo.png"
                                         alt="Matching Score"/>
                                    <span>: </span><strong class="score">98</strong>
                                </div>
                                <!--/ Matching Score -->
                            </div>
                            <div class="col-sm-9 col-sm-pull-3">
                                <!-- Job Title -->
                                <div class=" new-job">
                                    <a href="http://www.vietnamworks.com/senior-software-engineer-25-1-559839-jd"
                                       class="job-title text-clip text-lg" target="_blank">Senior Software Engineer<span
                                            class="new-tag"
                                            style="position: absolute; top: 0px; left: 184px;">(New)</span></a>
                                </div>
										<span class="company-name text-clip visible-xs">
											<span class="name">Công Ty TNHH Dịch Vụ So Sánh Việt</span>
										</span>
										<span class="visible-xs">
											<span class="push-top-xxs orange bold-700"><strong>$300 -
                                                $400</strong></span>
										</span>

                                <div class="push-top-xxs"></div>
                                <!-- Job info -->
                                <p class="job-info text-clip">
											<span>
												<span>Ho Chi Minh</span>
												|
												<span>Experienced (Non-Manager)</span>
											</span>
                                </p>

                                <div class="row extra-info">
                                    <!-- Info -->
                                    <div class="col-sm-5 push-top-xs">
                                        <div class="row">
													<span class="col-sm-12">
														<span class="views">
															<i class="fa fa-fw fa-calendar"></i>
															<span>Posted: Today</span>
														</span>
													</span>
													<span class="col-sm-12">
														<span class="views">
															<i class="fa fa-fw fa-eye"></i>
															<span class="view-number">Views: 3</span>
														</span>
													</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 skills push-top-xs">
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-2">
                                                <div class="progress progress-xxs">
                                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 100%">&nbsp;</div>
                                                </div>
                                            </div>
                                            <em class="text-xs gray col-sm-10 col-xs-10 text-clip">At Least 3 Years
                                                Experience As A Web Developer</em>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-2">
                                                <div class="progress progress-xxs">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 100%">&nbsp;</div>
                                                </div>
                                            </div>
                                            <em class="text-xs gray col-sm-10 col-xs-10 text-clip">Have Abilities To
                                                Lead Teammates To New Technical</em>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-2">
                                                <div class="progress progress-xxs">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar"
                                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 100%">&nbsp;</div>
                                                </div>
                                            </div>
                                            <em class="text-xs gray col-sm-10 col-xs-10 text-clip">Have Development
                                                Experience and Process Huge Data</em>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Company Benefits-->
                            <div class="benefits box-xs">
                                <div class="toggle-job-brief row push-top-xs">
											<span class="col-sm-12">
												<span class="offers">
													<i class="fa fa-fw fa-gift orange"></i>
													<a href="" class="gray-light"><strong>What do we offer?</strong></a>
													<i class="fa fa-caret-down text-gray-light "></i></span>
											</span>
                                </div>
                                <div class="benefits-info collapse box-xs alert alert-info">
                                    <div class="text-gray box-xs">
                                        <div class="row">
                                            <span class="benefit-icon pull-left"><i
                                                    class="fa fa-fw fa-dollar"></i> </span>
                                            <span class="benefit-text col-xs-11"> Bonus: Based on performance</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <!--/ Job -->
                <!-- Job -->
                <tr class="job-post">
                    <td>
                        <div class="row relative">
                            <!-- Logo  -->
                            <div class="col-sm-3 col-sm-push-9 text-center">
										<span class="hidden-xs">
											<span class="push-top-xxs orange bold-700"><strong>Negotiable</strong></span>
										</span>

                                <div class="company-name text-gray hidden-xs"
                                     data-original-title="A Japanese Online Market Research Company"
                                     title="A Japanese Online Market Research Company" style="word-wrap: break-word;">
                                    <a href="http://www.vietnamworks.com/0024-web-administrator-300-700-559809-jd"
                                       target="_blank">
                                        A Japanese Online Market Research...
                                    </a>
                                </div>
                                <!--Matching Score -->
                                <div class="matching-score">
                                    <img class="matching-score-logo" src="/assets/images/matching-score-logo.png"
                                         alt="Matching Score"/>
                                    <span>: </span><strong class="score">98</strong>
                                </div>
                                <!--/ Matching Score -->
                            </div>
                            <div class="col-sm-9 col-sm-pull-3">
                                <!-- Job Title -->
                                <div class=" new-job">
                                    <a href="http://www.vietnamworks.com/0024-web-administrator-300-700-559809-jd"
                                       class="job-title text-clip text-lg" target="_blank">[0024] Web Administrator
                                        ($300-$700)<span class="new-tag"
                                                         style="position: absolute; top: 0px; left: 280px;">(New)</span></a>
                                </div>
										<span class="company-name text-clip visible-xs">
											<span class="name">A Japanese Online Market Research Company</span>
										</span>
										<span class="visible-xs">
											<span class="push-top-xxs orange bold-700"><strong>Negotiable</strong></span>
										</span>

                                <div class="push-top-xxs"></div>
                                <!-- Job info -->
                                <p class="job-info text-clip">
											<span>
												<span>Ha Noi</span>
												|
												<span>Experienced (Non-Manager)</span>
											</span>
                                </p>

                                <div class="row extra-info">
                                    <!-- Info -->
                                    <div class="col-sm-5 push-top-xs">
                                        <div class="row">
													<span class="col-sm-12">
														<span class="views">
															<i class="fa fa-fw fa-calendar"></i>
															<span>Posted: Today</span>
														</span>
													</span>
													<span class="col-sm-12">
														<span class="views">
															<i class="fa fa-fw fa-eye"></i>
															<span class="view-number">Views: 10</span>
														</span>
													</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 skills push-top-xs">
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-2">
                                                <div class="progress progress-xxs">
                                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 100%">&nbsp;</div>
                                                </div>
                                            </div>
                                            <em class="text-xs gray col-sm-10 col-xs-10 text-clip">IT Business Analyst,
                                                IT Sales, IT Hardware</em>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-2">
                                                <div class="progress progress-xxs">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 100%">&nbsp;</div>
                                                </div>
                                            </div>
                                            <em class="text-xs gray col-sm-10 col-xs-10 text-clip">IT Operations</em>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Company Benefits-->
                            <div class="benefits box-xs">
                                <div class="toggle-job-brief row push-top-xs">
											<span class="col-sm-12">
												<span class="offers">
													<i class="fa fa-fw fa-gift orange"></i>
													<a href="" class="gray-light"><strong>What do we offer?</strong></a>
													<i class="fa fa-caret-down text-gray-light "></i></span>
											</span>
                                </div>
                                <div class="benefits-info collapse box-xs alert alert-info">
                                    <div class="text-gray box-xs">
                                        <div class="row">
                                            <span class="benefit-icon pull-left"><i
                                                    class="fa fa-fw fa-dollar"></i> </span>
                                            <span class="benefit-text col-xs-11"> Bonus based on performance</span>
                                        </div>
                                        <div class="row">
                                            <span class="benefit-icon pull-left"><i
                                                    class="fa fa-fw fa-graduation-cap"></i> </span>
                                            <span class="benefit-text col-xs-11"> Internal Japanese classes and job training offered</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <!--/ Job -->
                <!-- Job -->
                <tr class="job-post">
                    <td>
                        <div class="row relative">
                            <!-- Logo  -->
                            <div class="col-sm-3 col-sm-push-9 text-center">
										<span class="hidden-xs">
											<span class="push-top-xxs orange bold-700"><strong>Negotiable</strong></span>
										</span>

                                <div class="company-name text-gray hidden-xs"
                                     data-original-title="Công Ty CP Quốc Tế Tiamo" title="Công Ty CP Quốc Tế Tiamo"
                                     style="word-wrap: break-word;">
                                    <a href="http://www.vietnamworks.com/chuyen-vien-seo-thu-nhap-tu-3-6-trieu-559694-jd"
                                       target="_blank">
                                        Công Ty CP Quốc Tế Tiamo
                                    </a>
                                </div>
                                <!--Matching Score -->
                                <div class="matching-score">
                                    <img class="matching-score-logo" src="/assets/images/matching-score-logo.png"
                                         alt="Matching Score"/>
                                    <span>: </span><strong class="score">98</strong>
                                </div>
                                <!--/ Matching Score -->
                            </div>
                            <div class="col-sm-9 col-sm-pull-3">
                                <!-- Job Title -->
                                <div class=" new-job">
                                    <a href="http://www.vietnamworks.com/chuyen-vien-seo-thu-nhap-tu-3-6-trieu-559694-jd"
                                       class="job-title text-clip text-lg" target="_blank">Chuyên Viên SEO (thu Nhập Từ
                                        3-6 Triệu)<span class="new-tag"
                                                        style="position: absolute; top: 0px; left: 297px;">(New)</span></a>
                                </div>
										<span class="company-name text-clip visible-xs">
											<span class="name">Công Ty CP Quốc Tế Tiamo</span>
										</span>
										<span class="visible-xs">
											<span class="push-top-xxs orange bold-700"><strong>Negotiable</strong></span>
										</span>

                                <div class="push-top-xxs"></div>
                                <!-- Job info -->
                                <p class="job-info text-clip">
											<span>
												<span>Ha Noi</span>
												|
												<span>Experienced (Non-Manager)</span>
											</span>
                                </p>

                                <div class="row extra-info">
                                    <!-- Info -->
                                    <div class="col-sm-5 push-top-xs">
                                        <div class="row">
													<span class="col-sm-12">
														<span class="views">
															<i class="fa fa-fw fa-calendar"></i>
															<span>Posted: Today</span>
														</span>
													</span>
													<span class="col-sm-12">
														<span class="views">
															<i class="fa fa-fw fa-eye"></i>
															<span class="view-number">Views: 8</span>
														</span>
													</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 skills push-top-xs">
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-2">
                                                <div class="progress progress-xxs">
                                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 100%">&nbsp;</div>
                                                </div>
                                            </div>
                                            <em class="text-xs gray col-sm-10 col-xs-10 text-clip">Marketing</em>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-2">
                                                <div class="progress progress-xxs">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 100%">&nbsp;</div>
                                                </div>
                                            </div>
                                            <em class="text-xs gray col-sm-10 col-xs-10 text-clip">SEO</em>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Company Benefits-->
                            <div class="benefits box-xs">
                                <div class="toggle-job-brief row push-top-xs">
											<span class="col-sm-12">
												<span class="offers">
													<i class="fa fa-fw fa-gift orange"></i>
													<a href="" class="gray-light"><strong>What do we offer?</strong></a>
													<i class="fa fa-caret-down text-gray-light "></i></span>
											</span>
                                </div>
                                <div class="benefits-info collapse box-xs alert alert-info">
                                    <div class="text-gray box-xs">
                                        <div class="row">
                                            <span class="benefit-icon pull-left"><i
                                                    class="fa fa-fw fa-dollar"></i> </span>
                                            <span class="benefit-text col-xs-11"> Thu nhập bao gồm: Lương cơ bản + hiệu quả công việc hằng tháng rõ ràng.</span>
                                        </div>
                                        <div class="row">
                                            <span class="benefit-icon pull-left"><i
                                                    class="fa fa-fw fa-user-md"></i> </span>
                                            <span class="benefit-text col-xs-11"> Công ty đảm bảo chính sách theo luật lao động Việt Nam: bảo hiểm, ngày nghĩ, làm việc 8h/ngày</span>
                                        </div>
                                        <div class="row">
                                            <span class="benefit-icon pull-left"><i
                                                    class="fa fa-fw fa-check-square-o"></i> </span>
                                            <span class="benefit-text col-xs-11"> Chính sách đãi ngộ giữ chân nhân tài và tạo điều kiện phát triển nghề nghiệp, bản thân.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <!--/ Job -->
                <!-- Job -->
                <tr class="job-post">
                    <td>
                        <div class="row relative">
                            <!-- Logo  -->
                            <div class="col-sm-3 col-sm-push-9 text-center">
										<span class="hidden-xs">
											<span class="push-top-xxs orange bold-700"><strong>Negotiable</strong></span>
										</span>

                                <div class="company-name text-gray hidden-xs" data-original-title="Epocq.com"
                                     title="Epocq.com" style="word-wrap: break-word;">
                                    <a href="http://www.vietnamworks.com/senior-web-developer-php-mysql-1-555551-jd"
                                       target="_blank">
                                        Epocq.com
                                    </a>
                                </div>
                                <!--Matching Score -->
                                <div class="matching-score">
                                    <img class="matching-score-logo" src="/assets/images/matching-score-logo.png"
                                         alt="Matching Score"/>
                                    <span>: </span><strong class="score">98</strong>
                                </div>
                                <!--/ Matching Score -->
                            </div>
                            <div class="col-sm-9 col-sm-pull-3">
                                <!-- Job Title -->
                                <div class=" ">
                                    <a href="http://www.vietnamworks.com/senior-web-developer-php-mysql-1-555551-jd"
                                       class="job-title text-clip text-lg" target="_blank">Senior Web Developer (<span
                                            class="keyword">php</span>/mysql)</a>
                                </div>
										<span class="company-name text-clip visible-xs">
											<span class="name">Epocq.com</span>
										</span>
										<span class="visible-xs">
											<span class="push-top-xxs orange bold-700"><strong>Negotiable</strong></span>
										</span>

                                <div class="push-top-xxs"></div>
                                <!-- Job info -->
                                <p class="job-info text-clip">
											<span>
												<span>Da Nang, Ha Noi, Ho Chi Minh</span>
												|
												<span>Experienced (Non-Manager)</span>
											</span>
                                </p>

                                <div class="row extra-info">
                                    <!-- Info -->
                                    <div class="col-sm-5 push-top-xs">
                                        <div class="row">
													<span class="col-sm-12">
														<span class="views">
															<i class="fa fa-fw fa-calendar"></i>
															<span>Posted: 16/04/2015</span>
														</span>
													</span>
													<span class="col-sm-12">
														<span class="views">
															<i class="fa fa-fw fa-eye"></i>
															<span class="view-number">Views: 606</span>
														</span>
													</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 skills push-top-xs">
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-2">
                                                <div class="progress progress-xxs">
                                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 100%">&nbsp;</div>
                                                </div>
                                            </div>
                                            <em class="text-xs gray col-sm-10 col-xs-10 text-clip">Mobile App
                                                Development</em>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-2">
                                                <div class="progress progress-xxs">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 100%">&nbsp;</div>
                                                </div>
                                            </div>
                                            <em class="text-xs gray col-sm-10 col-xs-10 text-clip">AWS Services</em>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-2">
                                                <div class="progress progress-xxs">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar"
                                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 100%">&nbsp;</div>
                                                </div>
                                            </div>
                                            <em class="text-xs gray col-sm-10 col-xs-10 text-clip">PHP , HTML , JS ,
                                                Jquery, Sql, Mysql</em>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Company Benefits-->
                            <div class="benefits box-xs">
                                <div class="toggle-job-brief row push-top-xs">
											<span class="col-sm-12">
												<span class="offers">
													<i class="fa fa-fw fa-gift orange"></i>
													<a href="" class="gray-light"><strong>What do we offer?</strong></a>
													<i class="fa fa-caret-down text-gray-light "></i></span>
											</span>
                                </div>
                                <div class="benefits-info collapse box-xs alert alert-info">
                                    <div class="text-gray box-xs">
                                        <div class="row">
                                            <span class="benefit-icon pull-left"><i
                                                    class="fa fa-fw fa-dollar"></i> </span>
                                            <span class="benefit-text col-xs-11"> 13th month + discretionary bonus after 6 months</span>
                                        </div>
                                        <div class="row">
                                            <span class="benefit-icon pull-left"><i
                                                    class="fa fa-fw fa-file-image-o"></i> </span>
                                            <span class="benefit-text col-xs-11"> Holidays 15 days (year 1), 20 days (year 2+)</span>
                                        </div>
                                        <div class="row">
                                            <span class="benefit-icon pull-left"><i
                                                    class="fa fa-fw fa-check-square-o"></i> </span>
                                            <span class="benefit-text col-xs-11"> Motorbike parking</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <!--/ Job -->
                <!-- Job -->
                <tr class="job-post">
                    <td>
                        <div class="row relative">
                            <!-- Logo  -->
                            <div class="col-sm-3 col-sm-push-9 text-center">
										<span class="hidden-xs">
											<span class="push-top-xxs orange bold-700"><strong>Negotiable</strong></span>
										</span>

                                <div class="company-name text-gray hidden-xs"
                                     data-original-title="Công Ty Cổ Phần Truyền Thông Việt Nam (VC Corporation)"
                                     title="Công Ty Cổ Phần Truyền Thông Việt Nam (VC Corporation)"
                                     style="word-wrap: break-word;">
                                    <a href="http://www.vietnamworks.com/dev-php-jumper-1-557644-jd" target="_blank">
                                        Công Ty Cổ Phần Truyền Thông Việt...
                                    </a>
                                </div>
                                <!--Matching Score -->
                                <div class="matching-score">
                                    <img class="matching-score-logo" src="/assets/images/matching-score-logo.png"
                                         alt="Matching Score"/>
                                    <span>: </span><strong class="score">98</strong>
                                </div>
                                <!--/ Matching Score -->
                            </div>
                            <div class="col-sm-9 col-sm-pull-3">
                                <!-- Job Title -->
                                <div class=" ">
                                    <a href="http://www.vietnamworks.com/dev-php-jumper-1-557644-jd"
                                       class="job-title text-clip text-lg" target="_blank">Dev <span
                                            class="keyword">PHP</span> Jumper</a>
                                </div>
										<span class="company-name text-clip visible-xs">
											<span class="name">Công Ty Cổ Phần Truyền Thông Việt Nam (VC Corporation)</span>
										</span>
										<span class="visible-xs">
											<span class="push-top-xxs orange bold-700"><strong>Negotiable</strong></span>
										</span>

                                <div class="push-top-xxs"></div>
                                <!-- Job info -->
                                <p class="job-info text-clip">
											<span>
												<span>Ha Noi</span>
												|
												<span>Experienced (Non-Manager)</span>
											</span>
                                </p>

                                <div class="row extra-info">
                                    <!-- Info -->
                                    <div class="col-sm-5 push-top-xs">
                                        <div class="row">
													<span class="col-sm-12">
														<span class="views">
															<i class="fa fa-fw fa-calendar"></i>
															<span>Posted: 23/04/2015</span>
														</span>
													</span>
													<span class="col-sm-12">
														<span class="views">
															<i class="fa fa-fw fa-eye"></i>
															<span class="view-number">Views: 291</span>
														</span>
													</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 skills push-top-xs">
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-2">
                                                <div class="progress progress-xxs">
                                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 100%">&nbsp;</div>
                                                </div>
                                            </div>
                                            <em class="text-xs gray col-sm-10 col-xs-10 text-clip">PHP Developer, Senior
                                                PHP</em>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-2">
                                                <div class="progress progress-xxs">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                                         aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 85%">&nbsp;</div>
                                                </div>
                                            </div>
                                            <em class="text-xs gray col-sm-10 col-xs-10 text-clip">IT</em>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 col-xs-2">
                                                <div class="progress progress-xxs">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar"
                                                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 80%">&nbsp;</div>
                                                </div>
                                            </div>
                                            <em class="text-xs gray col-sm-10 col-xs-10 text-clip">It Software</em>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Company Benefits-->
                            <div class="benefits box-xs">
                                <div class="toggle-job-brief row push-top-xs">
											<span class="col-sm-12">
												<span class="offers">
													<i class="fa fa-fw fa-gift orange"></i>
													<a href="" class="gray-light"><strong>What do we offer?</strong></a>
													<i class="fa fa-caret-down text-gray-light "></i></span>
											</span>
                                </div>
                                <div class="benefits-info collapse box-xs alert alert-info">
                                    <div class="text-gray box-xs">
                                        <div class="row">
                                            <span class="benefit-icon pull-left"><i
                                                    class="fa fa-fw fa-dollar"></i> </span>
                                            <span class="benefit-text col-xs-11"> Hỗ trợ tiền ăn trưa, phụ cấp công việc</span>
                                        </div>
                                        <div class="row">
                                            <span class="benefit-icon pull-left"><i
                                                    class="fa fa-fw fa-glass"></i> </span>
                                            <span class="benefit-text col-xs-11"> Được du lịch nghỉ mát hàng năm, tham gia team building, tiệc sinh nhật, tổng kết công ty</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <!--/ Job -->
            </table>
        </div>
        <!--/ Jobs -->
        <!-- Load More -->
        <div class="box-md text-center load-more-job">
            <img class="" src="/assets/images/icon_load_more.png" alt="Load More" title="Load More"/>
        </div>
        <!--/ Load More -->
    </div>
</section>
