<template name="footer">
    <section class="footer">
        <div class="container">
            <div class="logo-vnw-gray pull-left">
                <img src="/assets/images/logo-vnw-gray.png" alt=""/>
            </div>
            <div class="logo-techlooper-gray pull-left">
                <img src="/assets/images/logo-techlooper-gray.png" alt=""/>
            </div>
            <div class="pull-left copyright">

                <p>Copyright © Navigos Group Vietnam JSC.<br/>130 Suong Nguyet Anh Street, Ben Thanh Ward, District 1, Ho Chi Minh City, Vietnam</p>
            </div>
        </div>
    </section>
</template>