<template name="footer">
    <section class="footer">
        <div class="container">
            <div class="logo-vnw-gray pull-left">
                <a href="http://www.vietnamworks.com" target="_blank">
                    <img src="/assets/images/logo-vnw-gray.png" alt="VietnamWorks Logo">
                </a>
            </div>
            <div class="logo-techlooper-gray pull-left">
                <a href="http://www.techlooper.com" target="_blank">
                    <img src="/assets/images/logo-techlooper-gray.png" alt="TechLooper Logo">
                </a>
            </div>
            <div class="pull-left copyright">
                <p>Bản Quyền © Công ty cổ phần Navigos Group Vietnam <br>
                    130 Sương Nguyệt Ánh, Quận 1, Tp. Hồ Chí Minh
                </p>
            </div>
        </div>
    </section>
</template>