<template name="header">
    <section class="header">
        <div class="container">
            <div class="row">
                <!-- Logo Move Up Today -->
                <div class="col-sm-4 col-xs-4">
                    <a href="{{pathFor 'homeLayout'}}">
                        <div class="logo-moveup-today">MoveUp<span class="dot">.</span>today</div>
                    </a>
                        <div>
                            <a id="logout">Logout</a>
                        </div>
                </div>
                <!-- Right Navigation -->
                <div class="col-sm-8 col-xs-8">
                    <div class="pull-right vnw-logo">
                        <a href="http://www.vietnamworks.com" target="_blank">
                            <img src="/assets/images/vnw-logo-small.png" alt="VietnamWorks Logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>