<template name="header">
	<section class="header">
		<div class="container">
			<div class="row">
				<!-- Logo Move Up Today -->
				<div class="col-sm-4 col-xs-4">
					<a href="{{pathFor 'homeLayout'}}">
						<div class="logo-moveup-today">MoveUp<span class="dot">.</span>today</div>
					</a>
				</div>
				<!-- Right Navigation -->
				<div class="col-sm-7 col-xs-7">
					<div class="pull-right vnw-logo">
						<a href="http://www.vietnamworks.com" target="_blank">
							<img src="/assets/images/vnw-logo-small.png" alt="VietnamWorks Logo">
						</a>
					</div>
					<!-- Log Out -->
                    {{#if userLogin}}
						<div class="pull-right user-log-out">
							<a id="logout"><i class="fa fa-fw fa-sign-out"></i> Đăng Xuất</a>
						</div>
                    {{/if}}
					<!--/ Log Out -->
				</div>
			</div>
		</div>
	</section>
</template>